:root{
    --main-bg-color: red;
    --main-size: 25px;
}

.image {
    width: 700px;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
}

/* header styles */
.header-bg{
    background-image: url('../images/headerbg.jpg');
    height: 324px;
    background-repeat: no-repeat;
    width:  100%;
    background-size: cover;
    background-position: center;
    position: relative;
    /* background: url('../images/photographer.jpg') center cover no-repeat; */
}
.header-bg::before {
    content: ' ';
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 60%;
    display: block;
    /* position: absolute;
    top:0;
    left:0; */
}
.navigation-wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-li a {
    color: #fff;
    font-size: var( --main-size);
}

/* გავანულოთ ბოლო ლისტის დაშორება */
/* .nav-li:last-child {
    margin-right: 0;
} */
.nav-li:not(:last-child) {
    margin-right: 30px;
}
/* .nav-li:not(.active) {
    margin-right: 30px;
} */

/* navigation pseudo elements */
a {
    position: relative;
}
.nav-li a::after {
    content: ' ';
    height: 2px;
    width: 0%;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
            transform: translate(-50%,-100%);
    background-color: var(--main-bg-color);
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.nav-li a:hover::after {
    width: 80%;
}



/* pseudo elements */
.text::before {
    content: 'Academy';
    color: var(--main-bg-color);
    background-color: yellow;
    font-size: var( --main-size);
}
/* .text::after {
    content: '\2660';
    color: blue;
    font-size: 30px;
} */
.text::after {
    content: ' ';
    display: inline-block;
    width: 2px;
    height: var( --main-size);
    background-color: var(--main-bg-color);;
}
